*,
*::before,
*::after {
  box-sizing: border-box;
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
  padding-block: 0;
}

html {
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #F9ECE2;
  display: grid;
  block-size: 100vh;
  justify-content: center;

  @media screen and (min-width: 768px) {
    place-content: center;
  }
}